<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miu Beer 喵啤 | 精釀啤酒 | 經典傳奇</title>
    <!-- style -->
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/all.css">
    <link rel="stylesheet" href="./styles/shopping-cart.css">
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="./images/miu.ico" />
</head>

<body>
    <div id="app">
        <header>
            <div class="pic">
                <a href="index.html">
                    <img src="./images/miu_logo_gold.svg" alt="Miu Beer">
                </a>
            </div>
            <nav>
                <ul>
                    <li v-for="li in navli">
                        <a href="{li.link}">{{li.title}}</a>
                    </li>
                </ul>
            </nav>
            <div class="shopping-cart">
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </header>
        <!-- 立即訂位開始 -->
        <div class="booking-btn">
            <a href="#">
                <img src="./images/booking_sau.png" alt="立即訂位">
                立即訂位
            </a>
        </div>
        <!-- 立即訂位結束 -->
        <!-- 購物車內容區 -->
        <div class="cart-container">
            <div class="content">
                <i class="fa-solid fa-cart-shopping">
                    <h1>購物車</h1>
                    <span>商品數量:{{prodCount}}</span>
                </i>
                <div class="notthing" v-if="prodCount == 0">
                    <p>未選購商品</p>
                </div>
                <div class="cart" v-else>
                    <div class="product" v-for="(item,index) in productlist" :key="index">
                        <div class="pic">
                            <img :src="item.imgsrc" :alt="item.name">
                        </div>
                        <div class="txt">
                            <h2>
                                {{item.name}}
                                <span>
                                    {{item.enname}}
                                </span>
                            </h2>
                            <div class="order-btn">
                                <button @click="minus(item,index)">-</button>
                                <input type="text" v-model="item.count" min="0">
                                <button @click="plus(item);showMealName(item)">+</button>
                                <span>{{item.count}}</span>
                                <i class="fa-solid fa-trash-can" @click="removeCart(index)"></i>
                            </div>
                            <span>單價:{{item.price}}<br>數量:{{item.count}}<br>單品總額:{{totalprice(item.count,item.price)}}</span>
                        </div>
                    </div>
                    <div class="total">總金額:<span>{{parsePrice}}</span>元
                    </div>
                </div>
            </div>
            <div class=notting v-if="prodCount == 0"></div>
            <div class="summary" v-else>
                <div class="sumtext">
                    <h3>Summary</h3>
                    <div class="product" v-for="(item,index) in productlist" :key="index">
                        <p>
                            {{item.name}}
                            <span>{{item.count}}</span>
                            <span>${{this.totalprice(item.count, item.price)}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            const app = Vue.createApp({
                data() {
                    return {
                        navli: [
                            { title: '最新消息', link: "./news.html" },
                            { title: '關於品牌', link: "./aboutus.html" },
                            { title: '啤酒介紹', link: "./classic-beer.html" },
                            { title: '美味料理', link: "./food.html" },
                            { title: '我要外帶', link: "./takeout.html" },
                            { title: '美味據點', link: "location.html" },
                        ],
                        productlist: [
                            {
                                name: '無肉不歡拼盤',
                                enname: 'Meat Lovers Platter',
                                imgsrc: './images/cart_meet.png',
                                price: 990,
                                count: 1
                            },
                            {
                                name: '德式綜合香腸',
                                enname: 'Assorted German Sausages',
                                imgsrc: './images/cart_sau.png',
                                price: 580,
                                count: 2
                            },
                            {
                                name: '培根奶油寬麵',
                                enname: 'Fettuccine Carbonara',
                                imgsrc: './images/cart_noodle.png',
                                price: 620,
                                count: 1
                            }
                        ],
                    }
                },
                computed: {
                    prodCount() {
                        return this.productlist.length
                    },
                    parsePrice() {
                        let total = 0
                        for (let index = 0; index < this.productlist.length; index++) {
                            const accumulator = this.productlist[index].price * this.productlist[index].count
                            total += accumulator
                        }
                        return total;
                    }
                },
                methods: {
                    plus(item) {
                        item.count++;
                    },
                    minus(item, index) {
                        if (item.count <= 1) {
                            this.productlist.splice(index, 1)
                        };
                        item.count--;
                    },
                    totalprice(count, price) {
                        return count * price;
                    },
                    removeCart(index) {
                        this.productlist.splice(index, 1);
                    },
                }
            }).mount("#app");

        </script>
</body>

</html>