<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miu Beer 喵啤 | 精釀啤酒 | 經典傳奇</title>
    <!-- style -->
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/all.css">
    <link rel="stylesheet" href="./styles/burger.css">
    <link rel="stylesheet" href="./styles/shopping-cart.css">
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="./images/miu.ico" />
    <!-- jQuery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body>
    <div id="app">
    <header>
        <div class="pic">
            <a href="index.html">
                <img src="./images/miu_logo_gold.svg" alt="Miu Beer">
            </a>
        </div>
        <nav>
            <ul>
                <li v-for="li in navli">
                    <a href="{li.link}">{{li.title}}</a>
                </li>
            </ul>
        </nav>
        <div class="shopping-cart">
            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <!-- 漢堡底色與線條 -->
        <div class="burger-container">
            <input type="checkbox" id="menu">
            <label for="menu">
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </label>
            <ul class="menu-list">
                <li v-for="li in navli">
                    <a href="{li.link}">{{li.title}}</a>
                </li>
            </ul>
        </div>
        <!-- 漢堡結束 -->
    </header>
    <!-- 立即訂位開始 -->
    <div class="booking-btn">
        <a href="#">
            <img src="./images/booking_sau.png" alt="立即訂位">
            立即訂位
        </a>
    </div>
    <!-- 立即訂位結束 -->
    <!-- 購物車內容區 -->
    <div class="cart-container">
        <i class="fa-solid fa-cart-shopping">
            <h1>購物車</h1>
        </i>
        <div class="cart">
            <div class="product" v-for="item in productlist">
                <input type="checkbox">
                <div class="pic">
                    <img :src="item.imgsrc" :alt="item.name">
                </div>
                <div class="txt">
                    <h2>
                        {{item.name}}
                        <span>
                            {{item.enname}}
                        </span>
                    </h2>
                    <div class="order-btn">
                        <i class="fa-solid fa-circle-minus"></i>
                        <input class="count" type="text" value="1">
                        <i class="fa-solid fa-circle-plus"></i>
                        <i class="fa-solid fa-dollar-sign">{{item.price}}</i>
                        <i class="fa-solid fa-trash-can"></i>
                        <span>{{item.price}}</span>
                    </div>
                </div>
            </div>
            <div class="delete">
                <input type="checkbox" v-model="selectall">全選
                <button>刪除選取項目</button>
            </div>
            <span class="total">總金額:<span>2190</span>元
            </span>
        </div>
        <form action="#" target="_self">
            <div>
                <label for="name" required>
                    訂購姓名:
                    <input type="text" id="name">
                </label>
            </div>
            <div>
                <label for="tel" required>
                    手機號碼:
                    <input type="tel" id="tel">
                </label>
            </div>
            <div>
                <label for="date" required>
                    取餐日期:
                    <input type="date" id="date">
                </label>
            </div>
            <div>
                <label for="time" required>
                    取餐時間:
                    <input type="time" id="time">
                </label>
            </div>
            <div>
                <label for="shop" required>
                    取餐據點:
                    <select name="shop" id="shop">
                        <option value="">請選擇地點</option>
                        <option value="">喵皇區|貓皇店</option>
                        <option value="">喵后區|喵后店</option>
                    </select>
                </label>
            </div>
            <div>
                <label for="shop" required>
                    結帳方式:
                    <select name="shop" id="shop">
                        <option value="">請選擇方式</option>
                        <option value="">轉帳匯款</option>
                        <option value="">街口支付</option>
                        <option value="">Line Pay</option>
                        <option value="">Apple Pay</option>
                    </select>
                </label>
            </div>
            <div>
                <label for="msg">其他備註:
                    <textarea name="msg" id="msg" cols="30" rows="10"
                        placeholder="有任何需求嗎?可以先寫在這裡哦! (例如:過敏、不需要餐具)"></textarea>
                </label>
            </div>
        </form>
    </div>
    <div class="btn">
        <a class="back" href="#">返回</a>
        <a class="next" href="#">確認</a>
    </div>
    <!-- 地址表單區結束 -->
    <!-- footer開始 -->
    <footer>
        <div class="footer-pic">
            <a href="index.html">
                <img src="./images/miu_logo_gold.svg" alt="Miu Beer">
            </a>
            <p>本網站為緯育TibaMe前端班第86期學員專題作品，<br>本平台僅供學習、展示之用。</p>
        </div>
        <div class="footer txt">
            <ul>
                <li v-for="li in navli">
                    <a href="{li.link}">{{li.title}}</a>
                </li>
            </ul>
        </div>
        <div class="footer-icon">
            <ul>
                <li>
                    <a href="#" class="facebook">
                        <i class="fa-brands fa-facebook" ;"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <i class="fa-brands fa-instagram" ;"></i>
                    </a>
                </li>
            </ul>
            <span>追蹤我們，掌握最新消息</span>
        </div>
    </footer>
    <div class="warning-box">
        <div class="warning-box-txt">
            <p class="drink">禁止酒駕<img src="./images/footer_drive.gif" alt="禁止酒駕">未滿十八歲 禁止飲酒</p>
            <p class="tibame">本網站為緯育TibaMe前端班第86期學員專題作品，本平台僅供學習、展示之用。</p>
        </div>
    </div>
</div>
    <!-- footer結束 -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    navli:[
                        {title:'最新消息',link:"./news.html"},
                        {title:'關於品牌',link:"./aboutus.html"},
                        {title:'啤酒介紹',link:"./classic-beer.html"},
                        {title:'美味料理',link:"./food.html"},
                        {title:'我要外帶',link:"./takeout.html"},
                        {title:'美味據點',link:"location.html"},
                    ],
                    productlist:[
                        {name:'無肉不歡拼盤',enname:'Meat Lovers Platter',imgsrc:'./images/cart_meet.png',price:'990'},
                        {name:'德式綜合香腸',enname:'Assorted German Sausages',imgsrc:'./images/cart_sau.png',price:'580'},
                        {name:'培根奶油寬麵',enname:'Fettuccine Carbonara',imgsrc:'./images/cart_noodle.png',price:'620'}
                    ]
                }
            },
            computed: {
                productlist() {
                    return [...this.productlist];
                },
            },
            method:{
                selectall(){

                }
            }
            
        }).mount("#app");
    </script>
    <script src="./js/shopping-cart.js"></script>
</body>

</html>