/* 購物車內容區開始 */
.notthing{
    margin: 2rem;
}
.cart .product{
margin: 20px;
}
.cart-container i>span{
    font-size: 1rem;
    margin-left: 1rem;
}
.cart .txt span{
line-height: 1.5;
}
.cart-container{
    background-color: #C3C3D6;
    margin: 150px auto 10px;
    padding: 30px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    border-radius: 10px;
}

.cart-container .total{
    position: absolute;
    bottom: 3%;
    left: 50%;
    font-size: 1.1rem;
    color: #333;
}

.cart-container .total span{
    color: #e00;
}

.cart-container .fa-cart-shopping {
    min-width: 100%;
    color: #333;
    font-size: 1.75rem;
    padding-left: 20px;
    font-weight: bolder;
    text-shadow: 5px px px #000;
}

.cart-container .fa-solid h1{
    display: inline-block;
    margin-left: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .next{
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color:#5E5E90;
    width: 40px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000;
}

.btn .back{
    display: inline-block;
    width: 40px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.cart-container .cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart-container .cart .pic{
    width: 200px;
    padding: 20px;
}

.cart-container .cart .pic img{
    width: 100%;
    vertical-align: middle;
}

.cart-container .cart .txt{
    width: 230px;
    color:#333;
    padding: 10px 10px;
    font-size: 1.1rem;
    text-align: center;
}

.cart-container .cart .txt h2{
    font-weight: bold;
}

.cart-container .cart .txt .order-btn{
    width: 100%;
    padding: 30px 0;
    font-size: 1rem;
    display: flex;
    
}

.cart-container .cart .txt .order-btn i{
    margin: 10px;
    color: #666;
}

.cart-container .cart .txt .order-btn .fa-dollar-sign{
    color: #e00;
}

.cart-container .cart .txt .order-btn input{
    min-width: 20%;
    text-align: center;
}

.cart .order-btn p{
    font-size: 1.1rem;
    color: #3C3C5B;
}

.cart .txt .order-btn span{ /* 餐點單價隱藏 */
    display: none;
}

.cart .txt span{
    display: block;
    margin-top: 10px;
}

.order-btn .fa-sack-dollar{
    margin-left: 60%;
}

.order-btn .fa-circle-plus,
.order-btn .fa-circle-minus{
    cursor: pointer;
}

.order-btn .fa-trash-can{
    font-size: 1rem;
    margin-left: 50%;
    cursor: pointer;
}
/* 購物車內容區結束 */

/* summary */
.cart-container .sumtext{
    border-left: 3px solid #999999;
    height: auto;
}

.cart-container .sumtext h3{
    color: #333;
    font-size: 1.5rem;
    background-color: #C3C3D6;
    line-height: 2.5;
    padding: 30px;
}
.cart-container .sumtext p{
    /* width: 350px; */
    color: #333;
    font-size: 1rem;
    background-color: #C3C3D6;
    line-height: 2.5;
    padding: 30px;
}